
@media (min-width:993px) and (max-width:1400px) {
    header div {
        padding: 24px 45px;
    }
    .btn-watch {
        display: none;
    }
}

@media (min-width:412px) and (max-width:992px) {
    div .my-nav {
        display: none;
    }

    .watch-menu .show {
        display: block;
    }
}